{% extends './layout.html' %} 
{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <h3>Users</h3>
      <div id="userEntry"></div>
    </div>
    <div class="col-sm-6">
      <h3>Offices</h3>
      <div id="officeEntry"></div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <h4>User List</h4>
        </div>
        <div id="userList"></div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          <h4>Office List</h4>
        </div>
        <div id="officeList"></div>
      </div>
    </div>
{% endblock %}